<section class="connect-section container">
  <div class="connect-box">
    <div class="connect-first-part">
      <h1 class="connect-title">Fresh Harvest Box has got you covered</h1>
      <p class="connect-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>

      <form class="connect-form">
        <input
          type="tel"
          class="connect-input"
          placeholder="+380 ()"
          name="user_phone"
          required
          pattern="[0-9]{3}[0-9]{2}[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xx-xxx-xx-xx"
        />
        <button type="submit" class="connect-btn">Recall</button>
      </form>
    </div>
    <div class="connect-picture">
      <picture>
        <source
          srcset="
            ../img/desktop/we-will-call-you/woman-desk.png 1x,
            ../img/desktop/we-will-call-you/woman-desk@2x.png 2x"
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ../img/tablet/we-will-call-you/woman-tab.png 1x,
            ../img/tablet/we-will-call-you/woman-tab@2x.png 2x"
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ../img/mobile/we-will-call-you/woman-mob.png 1x,
            ../img/mobile/we-will-call-you/woman-mob@2x.png 2x"
          
          media="(max-width: 767px)"
        />

        <img
          class="connect-foto"
          src="../img/mobile/we-will-call-you/woman-mob.png"
          alt="Woman"
          width="335"
        />
      </picture>
    </div>
  </div>
</section>
