<section class="hero">
  <div class="container">
    <div class="hero-wrap-main">
      <ul class="list hero-images-list">
        <li>
          <div class="hero-img-circle">
            <picture class="hero-img-absolute">
              <source
                srcset="
                  ./img/desktop/hero/hero-ellipse-desk.png    1x,
                  ./img/desktop/hero/hero-ellipse-desk@2x.png 2x
                "
                media="(min-width=1280px)"
              />
              <source
                srcset="
                  ./img/tablet/hero/hero-ellipse-tab.png    1x,
                  ./img/tablet/hero/hero-ellipse-tab@2x.png 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  ./img/mobile/hero/hero-ellipse-mob.png    1x,
                  ./img/mobile/hero/hero-ellipse-mob@2x.png 2x
                "
                media="(max-width=767px)"
              />
              <img
                srcset="
                  ./img/desktop/hero/hero-ellipse-desk.png    1x,
                  ./img/desktop/hero/hero-ellipse-desk@2x.png 2x
                "
                class="hero-img-height"
                src="./img/desktop/hero/hero-ellipse-desk.png"
                alt="pic 3"
                width="40px"
                height="40px"
              />
            </picture>
          </div>
        </li>
        <li class="hero-position-second">
          <div class="hero-img-circle">
            <picture class="hero-img-absolute">
              <source
                srcset="
                  ./img/desktop/hero/hero-ellipse2-desk.png    1x,
                  ./img/desktop/hero/hero-ellipse2-desk@2x.png 2x
                "
                media="(min-width=1280px)"
              />
              <source
                srcset="
                  ./img/tablet/hero/hero-ellipse2-tab.png    1x,
                  ./img/tablet/hero/hero-ellipse2-tab@2x.png 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  ./img/mobile/hero/hero-ellipse2-mob.png    1x,
                  ./img/mobile/hero/hero-ellipse2-mob@2x.png 2x
                "
                media="(max-width=767px)"
              />
              <img
                srcset="
                  ./img/desktop/hero/hero-ellipse2-desk.png    1x,
                  ./img/desktop/hero/hero-ellipse2-desk@2x.png 2x
                "
                class="hero-img-height"
                src="./img/desktop/hero/hero-ellipse2-desk.png"
                alt="pic 3"
                width="40px"
                height="40px"
              />
            </picture>
          </div>
        </li>
        <li class="hero-position-third">
          <div class="hero-img-circle">
            <picture class="hero-img-absolute">
              <source
                srcset="
                  ./img/desktop/hero/hero-ellipse3-desk.png    1x,
                  ./img/desktop/hero/hero-ellipse3-desk@2x.png 2x
                "
                media="(min-width=1280px)"
              />
              <source
                srcset="
                  ./img/tablet/hero/hero-ellipse3-tab.png    1x,
                  ./img/tablet/hero/hero-ellipse3-tab@2x.png 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  ./img/mobile/hero/hero-ellipse3-mob.png    1x,
                  ./img/mobile/hero/hero-ellipse3-mob@2x.png 2x
                "
                media="(max-width=767px)"
              />
              <img
                srcset="
                  ./img/desktop/hero/hero-ellipse3-desk.png    1x,
                  ./img/desktop/hero/hero-ellipse3-desk@2x.png 2x
                "
                class="hero-img-height"
                src="./img/desktop/hero/hero-ellipse3-desk.png"
                alt="pic 3"
                width="40px"
                height="40px"
              />
            </picture>
          </div>
        </li>
        <li class="hero-position-fourth">
          <div class="hero-img-four">
            2K<span class="hero-text-rewievs"> rewievs</span>
          </div>
        </li>
      </ul>

      <h1 class="hero-title">
        ORGANIC <span class="hero-title-text">VEGETABLES</span> TO YOUR DIET
        TODAY!
      </h1>
      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>

      <div class="hero-btn-main">
        <button type="button" class="hero-button-shop" data-modal-open>
          SHOP NOW
        </button>
      </div>
    </div>

    <div class="hero-wrap-secondary">
      <picture class="hero-picture">
        <source
          srcset="
            ./img/desktop/hero/hero-image-desk.png    1x,
            ./img/desktop/hero/hero-image-desk@2x.png 2x
          "
          media="(min-width=1280px)"
        />
        <source
          srcset="
            ./img/tablet/hero/hero-image-tab.png    1x,
            ./img/tablet/hero/hero-image-tab@2x.png 2x
          "
          media="(min-width=768px)"
        />
        <source
          srcset="
            ./img/mobile/hero/hero-image-mob.png    1x,
            ./img/mobile/hero/hero-image-mob@2x.png 2x
          "
          media="(max-width=767px)"
        />
        <img
          srcset="
            ./img/desktop/hero/hero-image-desk.png    1x,
            ./img/desktop/hero/hero-image-desk@2x.png 2x
          "
          class="hero-main-img"
          src="./img/desktop/hero/hero-image-desk.png"
          alt="Girl with vegetable"
        />
      </picture>

      <ul class="list hero-buttons-list">
        <li class="hero-btn-item hero-margin-tablet">
          <button type="button" class="hero-btn">#ORGANIC</button>
        </li>
        <li class="hero-btn-item">
          <button type="button" class="hero-btn">#PRODUCTS</button>
        </li>

        <li class="hero-btn-item">
          <button type="button" class="hero-btn">#BASKET</button>
        </li>
        <li class="hero-btn-item">
          <button type="button" class="hero-btn">#VEGETABLES</button>
        </li>
      </ul>
    </div>
  </div>
</section>
