<section class="how-it-work" id="how-it-works">
  <div class="container how-it-works-first">
    <h2 class="how-it-works-first-title">
      TO ORDER YOUR VEGETABLE BASCET, SIMPLY FOLLOW THESE EASY STEPS
    </h2>
    <picture>
      <source
        srcset="
          ./img/desktop/how-it-work/vegetables-desk.png    1x,
          ./img/desktop/how-it-work/vegetables-desk@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/tablet/how-it-work/vegetables-tab.png    1x,
          ./img/tablet/how-it-work/vegetables-tab@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/how-it-work/vegetables-mob.png    1x,
          ./img/mobile/how-it-work/vegetables-mob@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/mob.png"
        alt="photo greens"
        class="how-it-works-first-image"
      />
    </picture>
    <ul class="how-it-works-first-list list">
      <li class="how-it-works-first-link link">
        <p class="how-it-works-first-text para-one">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </li>
      <li class="how-it-works-first-link link">
        <p class="how-it-works-first-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </li>
    </ul>
  </div>

  <div class="easy-steps container">
    <div class="how-img">
      <picture class="img-girl">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/desktop/how-it-work/girl-desk.png    1x,
            ./img/desktop/how-it-work/girl-desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/tablet/how-it-work/girl-tab.png    1x,
            ./img/tablet/how-it-work/girl-tab@2x.png 2x
          "
        />
        <source
          media="(min-width: 375px)"
          srcset="
            ./img/mobile/how-it-work/girl-mob.png    1x,
            ./img/mobile/how-it-work/girl-mob@2x.png 2x
          "
        />
        <img src="./img/desktop/how-it-work/girl-desk.png" alt="girl" />
      </picture>
    </div>
    <div class="easy-text">
      <p class="paragraf-easy-steps">
        3 Easy Steps for Buying Fresh Vegetables
      </p>
      <ol class="easy-steps-list">
        <li class="easy-steps-link">
          <p class="easy-steps-link-par">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </p>
        </li>
        <li class="easy-steps-link">
          <p class="easy-steps-link-par">
            Click on the basket and fill <br />out the form.
          </p>
        </li>
        <li class="easy-steps-link">
          <p class="easy-steps-link-par">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
