<section id="how-it-works">
  <div class="container how-it-works-first">
    <h2 class="how-it-works-first-title">
      TO ORDER YOUR VEGETABLE BASCET, SIMPLY FOLLOW THESE EASY STEPS
    </h2>
    <picture>
      <source
        srcset="
          ./img/desktop/how-it-work/vegetables-desk.png    1x,
          ./img/desktop/how-it-work/vegetables-desk@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/tablet/how-it-work/vegetables-tab.png    1x,
          ./img/tablet/how-it-work/vegetables-tab@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/how-it-work/vegetables-mob.png    1x,
          ./img/mobile/how-it-work/vegetables-mob@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/mob.png"
        alt="photo greens"
        class="how-it-works-first-image"
      />
    </picture>
    <ul class="how-it-works-first-list list">
      <li class="how-it-works-first-link link">
        <p class="how-it-works-first-text para-one">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </li>
      <li class="how-it-works-first-link link">
        <p class="how-it-works-first-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </li>
    </ul>
  </div>
</section>
