<div class="container-mobmenu js-menu-container" id="mobile-menu">
    <div class="modal-mob" data-modal>
      <div class="header-mobile-box header">
        <nav class="header-navigations">
          <a href="./index.html" class="header-logo-nav link">
            <svg width="16" height="16" class="header-logo">
            <use href="./img/iconss.svg#logo"></use>
            <span class="header-text">veggieboost</span>
            </a>
        </nav>
        
         <div class="heder-btn">
            <button type="button" class="modal-close js-close-menu">
                <svg class="close-icon" width="24" height="24">
                    <use href="./img/iconss.svg#close-btn-x"></use>
                </svg>
            </button>
        </div>
      </div>

        <ul class="modal-mob-list list">
            <li class="modal-mob-items"><a class="modal-mob-link link" href="#how-it-works">How It Works</a></li>
            <li class="modal-mob-items"><a class="modal-mob-link link" href="#vegetables">Vegetables</a></li>
            <li class="modal-mob-items"><a class="modal-mob-link link" href="#footer">Contacts</a></li>
            <li class="modal-mob-items">
                    <button type="button" class="modal-mob-link bask" data-modal-open-1>
                    <svg class="modal-mob-icon" width="20" height="20">
                        <use href="./img/shopping-carttt.svg#shopping-cartw"></use>
                    </svg>
                  </button> 
                  </li>
        </ul>
    </div>
</div>
