/*.hero-wrap-main {}

.hero-wrap-secondary {}*/

.hero {
    padding-top: 48px;
    padding-bottom: 20px;
    background-color: var(--green);
    margin: 0 auto;
}

.hero-position-second {
    position: absolute;
    left: 28px;
}

.hero-position-third {
    position: absolute;
    left: 56px;
}

.hero-position-fourth {
    position: absolute;
    left: 84px;
}

.hero-img-circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--basic-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img-height {
    height: 40px;
    width: 40px;
    /* background-image: url(../img/ellipse.png); */
}



.hero-img-four {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--basic-background-color);
    color: var(--footer-color-logo);
    font-size: 14px;
    /* font-family: DM Sans; */
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.56px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
}


.hero-text-rewievs {
    color: var(--footer-color-logo);
    font-size: 8px;
    /* font-family: DM Sans; */
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.32px;
    text-transform: lowercase;
}

.hero-images-list {
    display: flex;
    margin-bottom: 14px;
    position: relative;
}


.hero-title {
    /* font-family: DM Sans; */
    color: var(--basic-background-color);
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
    /* min-width: 335px; */
    margin-bottom: 14px;
    width: 335px;
    letter-spacing: -1.6px;

}

.hero-title-text {
    /* font-family: DM Sans; */
    color: var(--light-green);
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: -1.6px;

}

.hero-text {
    /* font-family: DM Sans; */
    color: var(--basic-background-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    margin-bottom: 20px;
    max-width: 335px;
    letter-spacing: -0.56px;

}

.hero-btn-main {
    width: 68px;
    height: 68px;
    background-color: var(--old-lace);
    border-radius: 50%;
    margin-bottom: 8px;
    border: none;
    display: flex;
    align-items: center;
}

.hero-btn-main:hover,
.hero-btn-main:focus {
    background-color: var(--light-green);
}

.hero-button-shop {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    padding: 17px 3px;
    /* display: block;
    align-items: center;
    justify-content: center; */
    color: var(--orange);
    font-size: 14px;
    font-style: normal;
    /* font-family: DM Sans; */
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.14;
    margin: auto;
    transform: rotate(-14deg);

}

.hero-button-shop:hover {
    background-color: var(--light-green);
    color: var(--green);
}

.hero-button-shop:focus {
    background-color: var(--light-green);
    color: var(--green);
}

.hero-main-img {
    margin-bottom: 16px;
    /*width: 278px;
    height: 228px;*/

}

.hero-picture {
    display: flex;
    justify-content: center;
}


.hero-buttons-list {
    display: flex;
    gap: 4px;
    margin-left: auto;
    width: 100%;
    max-width: 230px;
    flex-wrap: wrap;
    justify-content: flex-end;
}



.hero-btn {
    color: var(--basic-background-color);
    font-size: 10px;
    /* font-family: DM Sans; */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.4px;
    padding: 8px 14px;
    margin: auto;
    border-radius: 1000px;
    /* border-color: var(--basic-background-color); */
    background-color: var(--green);
    display: flex;
    justify-content: center;
    border: 1px solid var(--basic-background-color);
    max-width: 100%;
}

.hero-btn:hover {
    border-color: var(--basic-background-color);
    color: var(--black);
    background-color: var(--floral-white-hashtag);
}

.hero-btn:focus {
    border-color: var(--basic-background-color);
    color: var(--black);
    background-color: var(--floral-white-hashtag);
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .hero-title {
        font-size: 35px;
    }

    .hero-title-text {
        font-size: 35px;
    }

}

@media screen and (min-width: 768px) {
    .container {
        /*max-width: 768px;*/
        padding-left: 32px;
        padding-right: 32px;
    }

    .hero {
        padding-top: 64px;
        padding-bottom: 32px;
    }

    .hero-images-list {
        margin-bottom: 18px;
    }

    .hero-title {
        margin-bottom: 16px;
        font-size: 50px;
        width: 656px;
        line-height: 1.28;
    }

    .hero-text {
        margin-bottom: 32px;
        max-width: 490px;
    }

    .hero-picture {
        margin-bottom: -24px;
    }

    .hero-main-img {
        /* margin-bottom: 8px; */
        /*max-width: 466px;*/
        /* height: 380px; */
    }

    .hero-margin-tablet {
        margin-bottom: 4px;
    }


    .hero-btn {
        padding: 10px 20px;
        font-size: 12px;
        line-height: 1.17;
    }

    .hero-buttons-list {
        max-width: 300px;
    }

    .hero-img-height {
        width: 50px;
        height: 50px;
    }


    .hero-position-second {

        left: 34px;
    }

    .hero-position-third {

        left: 68px;
    }

    .hero-position-fourth {

        left: 102px;
    }

    .hero-img-circle {
        width: 54px;
        height: 54px;

    }

    .hero-img-four {
        width: 54px;
        height: 54px;
        font-size: 18px;
        line-height: 1.33;
    }

    .hero-text-rewievs {
        font-size: 10px;
        line-height: 1.2;
    }



    .hero-title-text {
        font-size: 50px;
        line-height: 1.28;
    }


    .hero-btn-main {
        width: 114px;
        height: 114px;
    }

    .hero-button-shop {
        font-size: 24px;
        line-height: 1;
    }


}


@media screen and (min-width: 1280px) {

    .container {
        /* max-width: 1280px;*/
        /* display: flex;*/
        padding-left: 32px;
        padding-right: 32px;
    }

    .hero-container {
        display: flex;
    }

    .hero {
        padding-top: 132px;
        /* padding-bottom: 32px; */
    }

    .hero-images-list {
        margin-bottom: 16px;
    }

    .hero-title {
        margin-bottom: 16px;
        font-size: 64px;
        width: 672px;
        line-height: 1.17;
    }

    .hero-text {
        margin-bottom: 32px;
        max-width: 491px;
    }

    .hero-title-text {
        font-size: 64px;
        line-height: 1.17;
    }

    .hero-picture {
        margin-bottom: 28px;
    }

    .hero-main-img {
        /* margin-bottom: 8px; */
        /* max-width: 515px;*/
        /* height: 423px; */
        /* margin-bottom: 64px; */
        transform: translateX(32px);
    }

    .hero-margin-tablet {
        margin-bottom: 0;
    }


    .hero-btn {
        padding: 12px 32px;
    }

    .hero-buttons-list {
        max-width: 300px;
    }

    .hero-img-height {
        width: 66px;
        height: 66px;
    }


    .hero-position-second {

        left: 44px;
    }

    .hero-position-third {

        left: 88px;
    }

    .hero-position-fourth {

        left: 132px;
    }

    .hero-img-circle {
        width: 70px;
        height: 70px;

    }

    .hero-img-four {
        width: 70px;
        height: 70px;
        font-size: 24px;
        line-height: 1;
    }

    .hero-text-rewievs {
        font-size: 12px;
        line-height: 1.17;
    }


    .hero-btn-main {
        width: 132px;
        height: 132px;
    }

    .hero-button-shop {
        font-size: 28px;
        line-height: 1;
    }

    .hero-wrap-secondary {
        margin-left: auto;
    }

    .hero-buttons-list {
        gap: 8px;
        max-width: 320px;
    }

}