.easy-steps {
    width: 1216px;
    background-color: var(--old-lace);
    border-radius: 80px;
    display: flex;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 110px;
    background-image: url(/img/ellipse.png);
}

.img-girl {
    display: flex;
    width: 434px;
    height: 420px;
}

.easy-text {
    width: 512px;
}

.paragraf-easy-steps {
    color: var(--black);
    font-family: 'DM Sans';
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1.6px;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    line-height: 1.29;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.easy-steps-list {
    padding: 0 0 0 46px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
}

.easy-steps-link {
    margin-right: 44px;
    float: left;
    position: relative;
}

/*.easy-steps-link:not(:last-child) { 
    margin-bottom: 20px;  
 }*/

.easy-steps-link:before {
    counter-increment: numList;
    content: counter(numList);
    float: left;
    position: absolute;
    left: -46px;
    text-align: center;
    color: var(--black);
    width: 46px;
    height: 44px;
    background: var(--green);
    border-radius: 200px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.29;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    padding: 10px 0;
}

.easy-steps-link-par {
    /* width: 289px;
    height: 44px;*/
    padding-left: 20px;
    font-family: 'DM Sans';
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    line-height: 1.29;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
    display: table-cell;
    vertical-align: middle;
}

/* media query */

/* media screen */
@media screen and (min-device-pixel-ratio: 1) and (max-width: 767px),
screen and (min-resolution: 96dpi) and (max-width: 767px),
screen and (min-resolution: 1dppx) and (max-width: 767px) {
    .easy-steps {
        background-image: url(../img/ellipse.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .easy-steps {
        background-image: url(../img/ellipse@2x.png);
    }
}

/* media query for screen sizes from 320px to 375px */
@media screen and (min-width: 320px) and (max-width: 374px) {
    .easy-steps {
        max-width: 100%;
        margin: 0 20px;
        background-color: var(--old-lace);
        border-radius: 40px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-image: url(/img/ellipse.png);
    }

    .img-girl {
        width: 258px;
        height: auto;
    }

    .easy-text {
        width: 295px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

    }

    .paragraf-easy-steps {
        max-width: 295px;
        color: var(--black);
        font-size: 24px;
        margin-top: 40px;

    }

    .easy-steps-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .easy-steps-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        /* margin-bottom: 24px;*/
        max-width: 275px;
    }

    .easy-steps-link-par {
        color: var(--black);
        font-size: 14px;
        font-weight: 400;
    }

    .easy-steps-link:before {
        width: 40px;
        height: 38px;
        padding: 7px 0 7px 0;
    }
}

/* media query for screen sizes from 375px to 767px */
@media screen and (min-width: 375px) and (max-width: 767px) {
    .easy-steps {
        width: 335px;
        background-color: var(--old-lace);
        border-radius: 40px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-image: url(/img/ellipse.png);
    }
    .img-girl {
        width: 258px;
        height: auto;
    }

    .easy-text {
        width: 295px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

    }

    .paragraf-easy-steps {
        width: 295px;
        color: var(--black);
        font-size: 24px;
        margin-top: 40px;

    }

    .easy-steps-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    .easy-steps-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        /* margin-bottom: 24px;*/
        max-width: 275px;
    }

    .easy-steps-link-par {
        color: var(--black);
        font-size: 14px;
        font-weight: 400;
    }

    .easy-steps-link:before {
        width: 40px;
        height: 38px;
        padding: 7px 0 7px 0;
    }
}