.how-it-work {
    padding-top: 80px;
    padding-bottom: 80px;
}

.how-it-works-first {
    margin-bottom: 80px;
}

.how-it-works-first-title {
    color: var(--black);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-weight: 500;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    margin-bottom: 20px;
}

.how-it-works-first-text {
    color: var(--black);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.56px;
    font-weight: 400;
}

.how-it-works-first-list {
    margin-top: 20px;
    display: block;
}

/* --------desktop------ */
@media only screen and (min-width: 1280px) {

    .how-it-work {
        padding-top: 124px;
        padding-bottom: 124px;
    }

    .how-it-works-first {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 124px;
        gap: 119px;
        row-gap: 40px;
    }

    .how-it-works-first-title {
        width: 687px;
        padding-right: 73px;
        font-weight: 500;
        font-size: 48px;
        line-height: 1;
        letter-spacing: -1.92px;
        margin-bottom: 0;
        align-items: center;
        display: flex;
    }

    .how-it-works-first-image {
        width: 410px;
        height: 170px;
    }

    .how-it-works-first-list {
        display: flex;
        width: 687px;
        align-items: flex-start;
        gap: 40px;
        margin-top: 0;
    }

    .how-it-works-first-link {
        max-width: 353px;
    }

    .how-it-works-first-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: -0.72px;
    }

    .para-one {
        width: 350px;
    }
}

/* -----tablet------- */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .how-it-work {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .how-it-works-first {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
        row-gap: 40px;
    }

    .how-it-works-first-title {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -1.6px;
        width: 386px;
        margin-right: 8px;
        margin-bottom: 0;
    }

    .how-it-works-first-image {
        width: 310px;
        height: 176px;
    }

    .how-it-works-first-list {
        display: flex;
        align-items: flex-start;
        width: 616px;
        margin-top: 0;
        gap: 20px;
    }

    .how-it-works-first-text {
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: -0.72px;
        font-weight: 400;
    }

    .para-one {
        width: 317px;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    .how-it-works-first-link:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .how-it-works-first-link:not(:last-child) {
        margin-bottom: 20px;
    }

    .how-it-works-first {
        display: inline-block;
        justify-content: start;
    }

    .how-it-works-first-image {
        width: 335px;
        height: 158px;
    }

}

.easy-steps {
    width: 1216px;
    background-color: var(--old-lace);
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 110px;
    background-image: url(/img/ellipse.png);
}

.img-girl {
    display: flex;
    width: 434px;
    height: 420px;
}

.easy-text {
    width: 512px;
}

.paragraf-easy-steps {
    color: var(--black);
    font-family: 'DM Sans';
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1.6px;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    line-height: 1.29;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.easy-steps-list {
    padding: 0 0 0 46px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

.easy-steps-link {
    margin-right: 44px;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
}


.easy-steps-link:before {
    counter-increment: numList;
    content: counter(numList);
    float: left;
    position: absolute;
    left: -46px;
    text-align: center;
    color: var(--black);
    width: 46px;
    height: 44px;
    background: var(--green);
    border-radius: 200px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.29;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    padding: 10px 0;
}

.easy-steps-link-par {
    padding-left: 20px;
    font-family: 'DM Sans';
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    line-height: 1.29;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
    display: table-cell;
    vertical-align: middle;
}

/* media query */

/* media screen */
@media screen and (min-device-pixel-ratio: 1) and (max-width: 767px),
screen and (min-resolution: 96dpi) and (max-width: 767px),
screen and (min-resolution: 1dppx) and (max-width: 767px) {
    .easy-steps {
        background-image: url(../img/ellipse.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .easy-steps {
        background-image: url(../img/ellipse@2x.png);
    }
}

/* media query for screen sizes from 320px to 375px */
@media screen and (min-width: 320px) and (max-width: 374px) {

    .how-it-works-first-image {
        width: 270px;
        height: 130px;
    }

    .easy-steps {
        max-width: 95%;
        margin: 0 10px;
        padding: 0;
        background-color: var(--old-lace);
        border-radius: 40px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-image: url(/img/ellipse.png);
    }

    .img-girl {
        width: 258px;
        height: auto;
    }

    .easy-text {
        width: 295px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

    }

    .paragraf-easy-steps {
        max-width: 295px;
        color: var(--black);
        font-size: 24px;
        margin-top: 40px;

    }

    .easy-steps-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .easy-steps-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        max-width: 275px;
    }

    .easy-steps-link-par {
        color: var(--black);
        font-size: 14px;
        font-weight: 400;
    }

    .easy-steps-link:before {
        width: 40px;
        height: 38px;
        padding: 7px 0 7px 0;
    }
}

/* media query for screen sizes from 375px to 767px */
@media screen and (min-width: 375px) and (max-width: 767px) {

    .easy-steps {
        width: 335px;
        background-color: var(--old-lace);
        border-radius: 40px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-image: url(/img/ellipse.png);
    }

    .img-girl {
        width: 258px;
        height: auto;
    }

    .easy-text {
        width: 295px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

    }

    .paragraf-easy-steps {
        width: 295px;
        color: var(--black);
        font-size: 24px;
        margin-top: 40px;

    }

    .easy-steps-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    .easy-steps-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        max-width: 275px;
    }

    .easy-steps-link-par {
        color: var(--black);
        font-size: 14px;
        font-weight: 400;
    }

    .easy-steps-link:before {
        width: 40px;
        height: 38px;
        padding: 7px 0 7px 0;
    }
}

/* media query for screen sizes from 768px */
@media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
screen and (min-resolution: 96dpi) and (min-width: 768px),
screen and (min-resolution: 1dppx) and (min-width: 768px) {
    .easy-steps {
        background-image: url(../img/ellipse.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .easy-steps {
        background-image: url(../img/ellipse@2x.png);
    }
}

@media screen and (min-width: 768px) {
    .easy-steps {
        width: 704px;
        border-radius: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-image: url(/img/ellipse.png);

    }

    .img-girl {
        margin-top: 40px;
        width: 350px;
        height: 446px;
    }

    .easy-text {
        width: 275px;
    }

    .paragraf-easy-steps {
        font-size: 28px;
    }

    .easy-steps-list {
        width: 100%;
    }

    .easy-steps-link {
        width: 100%;
        height: 44px;
    }

    .easy-steps-link-par {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.1;
        width: 186px;
        padding-left: 14px;
    }

    .easy-steps-link:before {
        width: 46px;
        height: 44px;
        padding: 10px 0;
    }
}

/* media query for screen sizes from 1280px */

@media screen and (min-device-pixel-ratio: 1) and (min-width: 1280px),
screen and (min-resolution: 96dpi) and (min-width: 1280px),
screen and (min-resolution: 1dppx) and (min-width: 1280px) {
    .easy-steps {
        background-image: url(../img/ellipse.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .easy-steps {
        background-image: url(../img/ellipse@2x.png);
    }
}

@media screen and (min-width:1280px) {
    .easy-steps {
        width: 1216px;
        border-radius: 80px;
        gap: 110px;
        background-image: url(/img/ellipse.png);
    }

    .img-girl {
        width: 434px;
        height: 420px;
    }

    .easy-text {
        width: 512px;
    }

    .paragraf-easy-steps {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 44px;
    }

    .easy-steps-link {
        align-items: center;
    }

    .easy-steps-link-par {
        width: 299px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.1;
        padding-top: 5px;
    }
}