/*.container {
  padding: 0;
}*/

.container-mobmenu {
  max-width: 767px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*position: absolute;
  overflow: scroll;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);*/
  /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);*/
  background-color: var(--color-backdrop-modal);
  padding: 80px 24px 40px 40px;
}

.header-mobile-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.heder-btn {
  display: flex;
  height: 50px;
  background-color: #fff;
  /* padding: 13px 20px;*/
}

.modal-mob {
  /*max-width: 767px;
  max-height: 100%;*/
  background-color: #a1c487;
}

.modal-mob-list {
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-left: auto;
  border: none;
}

.modal-mob-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.modal-mob-items {
  display: flex;
  justify-content: center;
}

.close-icon {
  stroke: #77ac63;
}


/* .is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */