.backdrop {
    position: relative;
}

.modal {
    position: relative;
    background: var(--basic-background-color);
    max-width: 375px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01), 0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02), 0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03), 0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03), 0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04), 0px 0px 223px 0px rgba(0, 0, 0, 0.05);
}

.modal-close-btn {
    position: absolute;
    top: 22px;
    right: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;
}

.modal-close-icon {
    width: 100%;
    height: 100%;
    stroke: var(--black);
}

.modal-title {
    color: #141414;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.form-list {
    margin-bottom: 40px;
    flex-direction: column;
    gap: 12px;
}


.form-item {
    position: relative;
    width: 295;
    height: 119px;
    border-radius: 20px;
    background-color: var(--old-lace);
    padding: 20px;
}

.form-item-check {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 16px;
    height: 16px;
    margin-left: auto;
    border: 1.5px solid var(--green);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-label {
    width: 16px;
    height: 16px;
}

.check-icon {
    fill: transparent;
}

.form-check:checked+.check-label>.check-icon {
    fill: var(--green);
}

.form-item-title {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.72px;
    margin-bottom: 2px;
}

.form-item-text {
    color: var(--black);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
}

.form-item-pic {
    position: absolute;
    bottom: 8px;
    right: 30px;
    display: block;
    width: 94px;
    height: 78px;

}

.form-wrap {
    width: 100%;
}

.form-field-submit {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 20px;
}

.form-input {
    color: rgba(20, 20, 20, 0.50);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    width: 100%;
    height: 46px;
    border-radius: 100px;
    border: 1px solid rgba(20, 20, 20, 0.30);
    padding: 14px 24px;
}

.form-coment {
    display: block;
    color: rgba(20, 20, 20, 0.50);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    padding: 14px 24px;
    width: 100%;
    height: 132px;
    overflow: scroll;
    border-radius: 20px;
    border: 1px solid rgba(20, 20, 20, 0.30);
    resize: none;
}

.form-btn {
    color: #FFF;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: capitalize;
    width: 92px;
    height: 42px;
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    background-color: var(--orange);
}