@import url('./fonts.css');
@import url('./variable-style.css');
@import url('./variable-style.css');
@import url('./reset.css');

/*header*/
@import url('');

/*main */
/*Hero */
@import url('');

/* How it works part 1 */
@import url('');

/* How it works part 2 */
@import url('');

/* Vegetables */
@import url('');

/* We will call you */
@import url('');

/* Footer */
@import url('');

/* Modal - Your order */
@import url('');

/* Modal - Mobile menu */
@import url('');