@import url('./fonts.css');
@import url('./variable-style.css');
@import url('./reset.css');

/*header*/
@import url('./header.css');

/*Go top*/
@import url('./go-top.css');

/*main */
/*Hero */
@import url('./hero.css');

/* How it works */
@import url('how-it-works-first.css');

/* Vegetables */
@import url('./vegetables.css');

/* We will call you */
@import url('./connect.css');

/* Footer */
@import url('./footer.css');

/* Modal - Your order */
@import url('./modal-order-mobile.css');
/*@import url('./modal-your-order-desktop.css');*/


/* Modal - Mobile menu */
@import url('./mob-modal-menu.css');